.contato{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: blueviolet; */
}

.titulo{
    font-size: 24px;
    font-weight: bold;
    color: var(--color9);
    margin-bottom: 8px;
}

.form{
    /* background-color: red; */
}

.campo_content{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    width: 480px;
}

.campo_content label{
    font-weight: bold;
    margin-bottom: 8px;
}

.campo_content input[type="text"],
.campo_content input[type="email"],
.campo_content textarea{
    border:none;
    border-radius: 8px;
    background-color: var(--color6);
    padding: 16px 8px;
    color: var(--color9);
    margin-bottom: 8px;
}

.campo_content textarea{
    resize: none;
    height: 140px;
}

.form__botao{
    border:none;
    border-radius: 8px;
    background-color: var(--color9);
    padding: 16px 8px;
    color: var(--color7);
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s;
    border: 1px solid transparent;
}

.form__botao:hover{
    background-color: var(--color7);
    color: var(--color9);
    border-color: var(--color9);
}




@media screen and (max-width: 600px) {
    .campo_content{
        width: 400px;
    }
}


@media only screen and (max-width: 480px) {
    .campo_content{
        display: flex;
        flex-direction: column;
        width: 340px;
        margin-bottom: 8px;
    }
}