.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rm 20em;
    background-color: var(--color7);
    border-bottom: 1px solid var(--color6);
}

.logo{
    width: 50px;
}

.titulo{
    font-size: 26px;
    font-weight: bold;
    color: var(--color3);
}

.logo_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .nav{
        display: none;
    }
}