:root{
    --tamanho-imagem-desktop: calc((1400px / 3) - (8px * 4));
    --tamanho-imagem-mobile: calc((600px / 3) - (8px * 4));
}

.imagem{
    width: var(--tamanho-imagem-desktop);
    height: var(--tamanho-imagem-desktop);
    border-radius: 8px;
    margin-bottom: 8px;
}

.nome{
    font-size: 24px;
    font-weight: bold;
    color: var(--color9);
    margin-bottom: 8px;
}

.descricao{
    font-size: 16px;
    color: var(--color9);
    margin-bottom: 8px;
    white-space: normal;
    width: var(--tamanho-imagem-desktop);
    line-height: 1.6;
}

@media only screen and (max-width: 480px) {

    .membro{
        display: flex;
        padding: 0px 16px;    
    }

    .imagem{
        width: var(--tamanho-imagem-mobile);
        height: var(--tamanho-imagem-mobile);
        margin-right: 8px;
    }
    
    .nome{
        font-size: 16px;
    }

    .descricao{
        width: 145px;
        font-size: 12px;
    }
    
    .texto_content{
        border: 1px solid var(--color6);
        width: 280px;
        height: var(--tamanho-imagem-mobile);
        margin-bottom: 8px;
        border-radius: 8px;
        padding: 8px;
    }
}